    <div class="row user-sign-in">
      <div class="field">
        <div class="col-xs-12">
          <%# f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "タイトル", class:'fa' %>
        </div>
      </div>
    </div>
    
    <div class="row user-sign-in">
      <div class="field">
        <div class="col-xs-12 dropdown">
          <%# f.collection_select :tag_id, Tag.all, :id, :name, include_blank: "選択してください" %>
        </div>
      </div>
    </div>
    
    <div class="row user-sign-in">
      <div class="field">
        <div class="col-xs-12">
          <%# f.text_area :introduction, placeholder: "説明文", class:"textarea" %>
        </div>
      </div>
    </div>
    
    <div class="row user-sign-in">
      <div class="field">
        <div class="col-xs-12">
          <%= f.text_field :link, placeholder: "参考リンク" %>
        </div>
      </div>
    </div>


  <div class="row user-links">
    <%= f.submit "投稿する", class:"btn btn-secondary btn btn-lg w-80"%>
  </div>
