// Place all the styles related to the admins::events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box.event-new{
    width :900px;
    background-color:green;
    // text-align: center;
}

.row.box.event-new {
    text-align: left;
}
            