// Place all the styles related to the public::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.timeline-1 {
    background-color: gray;
}

.col-xs-1.image{
    // background-color: green;
    height: 100px;
    width: 100px;
    // border-radius: 40px;
    background-color: green;
    display: flex;
    align-items: center;
}

.name{
    margin-top: 10px;
    background-color: pink;
    margin-auto: 0px;
    // margin-left
}