<h2>管理者トップページ</h2>
<div class="container">
 <div class="row admin-top">
   <div class="col-xs-4 admin-top">
    <p>あ</p>
   </div>
   <div class="col-xs-4 admin-top">
   <p>あ</p>
   </div>
   <div class="col-xs-4 admin-top">
   <p>あ</p>
   </div>
 </div>
 <div class="row admin-top">
  <!--10列幅分のボックス-->
  <div class="col-xs-10 bg-primary">10列</div>
</div>

<!--行2-->
<div class="row">
    <h3>投稿内容合計</h3></br>
    <p>投稿の郷合計は〇〇件です</p>
    
</div>

</div>
