/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* ----flashメッセージ---- */

.flash-success {
    background-color: limegreen;
    color: white;
    text-align: center;
}
.flash-edit {
    background-color: blue;
    color: white;
    text-align: center;
}
.flash-delete {
    background-color: pink;
    color: white;
    text-align: center;
}
.flash-update {
    background-color: yellow;
    color: white;
    text-align: center;
}
.flash-error {
    background-color: red;
    color: white;
    text-align: center;
}

.flash-ban {
    background-color: gold;
    color: black;
    text-align: center;
}

.flash-login {
    background-color: gold;
    color: #c8e4ff;
    text-align: center;
}

.flash-message flash-entry {
    background-color: red;
    color: #c8e4ff;
    text-align: center;
}

////ボタン（btn)のカスタム//////
.text-center.btn{
    // width: 400px;
    text-align: center;
}
.c-btn-custom {
    width: 100%;
    padding: 0 20%;
    text-align: center;
}

.c-custom {
    border-radius: 20px;
    margin: 0 auto;
}

////////////////////////////formのcss////////////////////////////////
input[type="text"] {
        width: 340px;
        height: 40px
    }
input[type="password"] {
        width: 340px;
        height: 40px;
    }
    
.textarea{
    resize: none;
    width: 340px;
    height: 100px;
}
    
.w-80 {
  width: 80% !important;
  
  color: white;
}

.row.user-sign-in{
    display: flex;
    justify-content: center;
}
.row.user-links{
    display: flex;
    justify-content: center;
}

.row.user-links:last-child{
 margin-bottom: 20px;
}
.row.user-links:first-child{
 margin-top: 20px;
}

.dropdown select{
    width: 340px;
    height: 40px;
}

/////////////////////////////////枠や見出しのcss/////////////////////////
.row.c-toparea{
    margin: 20px;
    margin-bottom: 30px;
}

.row.question-box{
    border: 1px solid #ccc;
    box-shadow: 10px 10px 6px 1px #ccc;
    // margin-bottom: 200px;
}

.question-box-text{
    padding: 30px ;
    position: relative;
}

// .tag{
//   background: #5cd;
//   border-radius: 8px 0 0 8px;
//   color: #fff;
//   display: inline-block;
//   height: 20px;
//   line-height: 20px;
//   padding: 0 2em 0 3em;
//   position: relative;
// }

// .tag::before {
//   border: 10px solid transparent;
//   border-left-color: #5cd;
//   border-right-width: 0;
//   content: '';
//   display: block;
//   height: 0;
//   position: absolute;
//   right: -10px;
//   top: 0;
//   width: 0;
// }

.tags{
	margin:0;
	padding:0;
	position:absolute;
	right:24px;
	bottom:-12px;
	list-style:none;
	}
	
.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}

.question-midashi{
    background: linear-gradient(gray, black);
    position: absolute;
    display: inline-block;
    top: -32px;
    left: 10px;
    padding: 0 9px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    // color: whit;
}

.navbar-brand {
    margin-top: -5px;
}

////////////////////////////toppageのcss////////////////////////////////
.row.user-top{
  width: 100% !important;
  background: linear-gradient(gray, white);
  color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 6px 0px #ccc;
  text-shadow: 2px 2px 1px black;
  height: 300px;
  text-align: center;

}

.midashi3{
  padding: 1rem 2rem;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  text-align: center;
}

.midashi4 {
  padding: 1rem 2rem;
//   border-top: 3px dotted #000;
  border-bottom: 3px dotted #000;
  text-align: center;
}


.w-20 {
  width: 20% !important;
  background: linear-gradient(gray, black);
  color: white;
  opacity: 0.5;
}

///////////boxに関するｃｓｓ////////////////
.row.c-line {
    display: flex;
    justify-content: center;
}

.col-xs-4.c-boxarea {
    background: linear-gradient(gray, white);
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 0px #ccc;
    // text-shadow: 2px 2px 1px black;
    width: 330px;
    height: 300px;
    // background-color: rgba(0,0,0,0.5);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    padding-top: 40px;
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
}

/////////////////////////////////footerのcss///////////////////
.footerFixed{
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 60px; /* ←フッターの高さを指定 */
    box-sizing: border-box;
    width: 100%;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}
.fixed-bottom.footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
}

///////////////////////////iconのcssや管理者画面のuserに関するcss//////////////////////////////
.p:first-child{
    margin-right: auto;
}


.user-info {
  background: linear-gradient(gray, black);
  width: 330px;
  height: 120px;
  display: flex;
  justify-content: center;
//   text-align: center;
}

.image-area {
    margin-top: 65px;
    background-color: white;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.image-area.admin {
    border-radius: 50px;
    background-color: white;
    width: 100px;
    height: 100px;
}

.status{
    display: inline;
}

.icon-area {
//   display: flex;
//   justify-content: center;
  border-radius: 30px;
}

.content-area{
    color: black;
    width: 330px;
    height: 350px;
    background: linear-gradient(gray, white);
}

.text-area {
    margin: -10px 20px;
}

.name-area{
    padding-top: 50px;
    color: black;
    text-align: center;
}

.ban-box {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.ban-area:last-child{
    margin-left: 200px;
}

/* spanに関するcss */
.underbar {
    background: linear-gradient(transparent 70%, #ff99ab 70%);
    font-size: 18px;
}

.c-color-red {
    color: red;
}



//////////////////////////////////post_imageのcss//////////////////////

.introduction-area{
    border :solid 2px black;
    margin-bottom: 10px;
    padding: 10px;
}

.image-area{
  display: flex;
  justify-content: center;
//   margin: 50px; 
//   background-color: pink;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.col-xs-4.c-boxarea.pi {
    height: 400px;
    
}

// .inline-block li {
//     float: left;
//     display: inline-block;
// }

 .timeline {
    border: 1px solid #ccc;
    box-shadow: 1px 0px 1px 0px #ccc;
    width: 100%;
    height: 85px;
    position: relative;
    display: flex;
 }
 .image-image {
    position: relative;
    // border: 2px solid green;
    width: 160px;
    height: 80px;
 }
 .image-image-image{
    // background: yellow;
    position: absolute;
    top: 50%; /*親要素を起点に上から50%*/
    left: 50%;  /*親要素を起点に左から50%*/
    transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
    -webkit-transform: translateY(-50%) translateX(-50%);
 }
 
 .post-text-area {
    // border: 10px solid red;
    width: 100%;
 }
 
 .ppp{
   display: flex;
   justify-content: space-between;
 }
 
 .ppp li {
     display: inline-block;
     
 }
 
 
 .text-center {
     text-align: center;
 }
 
 .post-info-area{
    //  display: table;
 }
 
 /////////user側のquestions・posts・answers共通/////////////////////
 .c-delete {
    position: relative;
 }
 
 .c-delete-icon {

 }
 
  .c-toparea{
    margin-bottom: 10px;
 }
 
 .c-btn {
     margin-top: 20px;
 }
 
////投稿などのタイトル投稿日の左右切り離し
 .c-left{
     margin-right: auto;
 }
 
 .c-right{
     padding-right: 20px;
     opacity: 0.7;
 }
 
 .c-ul{
   display: flex;
   margin-bottom: -20px;
 }
 
///////幅の指定///////////
.c-width-800 {
    width: 800px;
}

//////flexbox////
.c-flex-box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.c-toparea{
    border :solid 2px black;
    margin-bottom: 10px;
    padding: 10px;
}

.c-margin-bottom {
    margin-bottom: 20px;
}
.c-margin-top {
    margin-top: 20px;
}
.c-margin-right {
    margin-right: 20px;
}
.c-margin-left {
    margin-left: 20px;
}
// toppageのオススメ
.user-top-function {
    font-size: 24px;
    background-color: #8080802e;
    width: 100%;
    height: 120%;
    line-height: 40px;
    position: relative;
    margin-top: 35px;
    margin: 25px 0px;
}

.c-point-area {
    background: linear-gradient(gray, black);
    position: absolute;
    display: inline-block;
    top: -18px;
    left: 38px;
    padding: 0 9px;
    color: white;
    padding: 10px;
    // border-radius: 5px;
    width: 110px;
    height: 40px;
    text-align: center;
}

.c-margin-auto {
    margin: -10px; 
}

// toppageのアバウトエリア
.user-top-about2 {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.c-image-area{
    height: 245px;
    width: 345px;
    background: linear-gradient(gray, white);
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 0px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-image-area-icon {
    // width: 200px;
    // height: 100px;
    text-align: center;
}

.c-font-size{
 font-size: 24px;
}

.c-text-area{
    height: 245px;
    width: 345px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px 0px #ccc;
}

.c-margin-around{
    margin: 20px;
    
}

.c-line-height {
    line-height: 30px;
}

.btn_bk{
    background: linear-gradient(gray, black);
}

// .ul {
//   list-style-type: none;
//   padding-left: 0;
//  }

.c-toparea-ul {
    list-style: disc outside;
    margin-left: 20px;
    // padding-left: -10px;
}

.overflow-auto{
    // orverflow: scroll;
    // width: 200px;
    // // height: 200px;
    // background-color: pink;
    display: block;
    margin: 10px 20px;
    height: 150px;
    border: 1px solid;
    overflow-y: scroll;
    background: #FFFFFF;
    opacity: 0.8;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .test12{
        color: pink;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .test12 {
    color: red;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
 .user-top-text {
     
 }
 .container {
     max-width: 100%;
    //  text-align: center;
    //  display: flex;
    //  justify-content: center;
 }
 .row.user-top {
  width: 100% !important;
  background: linear-gradient(gray, white);
  height: 200px;
  text-align: center;
  margin: auto 0;
 }
 .user-topBox{
    padding-top: 20px;
    margin-top: -120px;
 }
 
 .btn-lg.w-80.btn_bk{
    background: linear-gradient(gray, black);
    font-size: 12px;
    padding: 8px 8px;
 }
 
 .c-r-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  marign-left: auto
 }
 .timeline {
   height: 125px;
 }
 .c-r-image img {
    width: 375px; 
 }
}